form .row {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
}

form .row .label {
  display: flex;
  flex: 1;
}

form .row .input {
  display: flex;
  flex: 3;
}

form .row input {
  font-size: 14px;
  width: 100%;
  padding: 5px 8px;
  border: 1px solid #ccc;
}

form .row input[type=submit] {
  width: auto;
  padding: 5px 30px;
}

form .row select {
  font-size: 14px;
  width: 100%;
  padding: 15px 8px;
}